/* theme color */
$color-primary: #409eff;

$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-secondary: #909399;
$color-text-placeholder: #c0c4cc;

/* Background
-------------------------- */
$background-color-base: #f5f7fa;

/* Border
-------------------------- */
$border-color-base: #dcdfe6;